* {
  margin: 0%;
  padding: 0%;
}

body {
  /*background: url('./lib/assets/background1.png');*/
  min-height: 100vh;
  margin: 0%;
  padding: 0%;
}

/* intro */
.containerIntro {
  display: grid;
  position: relative;
  padding: 11px;
  height: 100vh;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-columns: min-content(200px, 1fr);
  grid-template-rows: min-content(200px, 1fr);
  height: 100hv;
  grid-template-areas: 'gif'
                        'divTextIntro'
                        'divButtonIntro'
                        'footerIntro'
                        'footerIntro'
                        'footerIntro';
                      

  grid-gap: 39px;
}

#divGif {
  background: url('https://i.picasion.com/pic91/a84f3fcf776556e023735827dfd8fd51.gif') no-repeat center;
  background-size: cover;
  height: 56vh;
  width: 43vh;
  display: flex;
  margin: 0% auto;
  grid-area: gif;
}

#divTextIntro{
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: large;
  margin-left: 3%;
}
#divButtonIntro {
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: divButtonIntro;
  width: 106%;
  margin-top: 13%;
}

#divButtonIntro > button {
  background-color: rgba(214, 190, 180, 0.83);
  height: 5vh;
  width: 20vh;
  border-radius: 4px;
  font-family: 'Handlee', cursive;
  margin-left: -3%;
  margin-top: -5%;
  box-shadow: 0 2px 15px rgba(80, 77, 78, 0.5);
  border-style: double;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footerIntro {
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  height: 20px;
  margin-top: 16%;
  font-family: 'Handlee', cursive;
  grid-area: footerIntro;
  margin-left: 4%;
}

/* signUp*/
#containerUp {
  display: grid;
  background-color: rgba(255, 252, 252, 0.48);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'header img'
                       'a img'
                       'b img'
                       'c img'
                       'd img'
                       'e img'
                       'footer footer';
  width: 90%;
  row-gap:11px;
  justify-items: center;
  height: 75vh;
  margin-top: 10vh;
  margin-left: 5%;
}

#titleUp {
  font-family: 'Handlee', cursive;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  justify-content: flex-start;
  grid-area: header;
}

#containerUp > main{
  grid-area: a;
  align-self: center;
  margin-left: 48px;
}

#emailUp {
  width: 214px;
  height: 38px;
  background: white;
  font-family: 'Handlee', cursive;
  border-style: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

#emailUp input{
  grid-area: a;
}

#emailUp::placeholder {
  color: darkgrey;
  text-align: center;
}

#passwordUp {
  width: 214px;
  height: 38px;
  background: white;
  font-family: 'Handlee', cursive;
  display: flex;
  flex: center;
  border-style: none;
  border-radius: 5px;
  grid-area: c;
  margin-bottom: 23px;
}

#passwordUp::placeholder {
  color: darkgrey;
  text-align: center;
  padding-top: 30px;
}

#buttonCreateUser {
  width: 216px;
  height: 39px;
  font-family: 'Handlee', cursive;
  background: rgba(214, 190, 180, 0.92);
  grid-area: d;
  margin-bottom: 23px;
}

#termsText {
  width: 34vh;
  font-family: 'Handlee', cursive;
  font-size: 15px;
  justify-items: center;
}

#sendToSignInText {
  padding: 5%;
  width: 25vh;
  font-family: 'Handlee', cursive;
  font-size: 15px;
  justify-content: center;
}

#separationTextUp {
  padding: 5%;
  width: 25vh;
  font-family: 'Handlee', cursive;
  font-size: 15px;
  justify-content: center;
  margin-left: 80px;
}

#buttonToGoogleUp {
  width: 216px;
  height: 39px;
  font-family: 'Handlee', cursive;
  background: rgba(214, 190, 180, 0.92); 
}

#footerUp{
  grid-area:footer;
}

#divImgUp > img{
  grid-area: img;
  background-image: url('./lib/assets/palillohombre.jpg');
  width: 550px; 
  height: 400px;
  align-self: center;
}

/* signin */
#containerIn {
  display: grid;
  background-color: rgba(255, 252, 252, 0.48);
  grid-gap: 3%;
  justify-content: center;
  width: 90%;
  margin-top: 10vh;
  grid-template-areas:
      'header'
      'main'
      'footer';
}

#titleIn {
  grid-area: header;
  font-family: 'Handlee', cursive;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  margin-left: 3v;
}

main{
  grid-area: main;
  align-self: center;
}

#emailIn {
  width: 214px;
  height: 38px;
  background: white;
  font-family: 'Handlee', cursive;
  justify-content: center;
  border-style: none;
  border-radius: 5px;
  margin: 2%;
}

#emailIn::placeholder {
  color: darkgrey;
  text-align: center;
  padding-top: 30px;
}

#passwordIn {
  width: 214px;
  height: 38px;
  background: white;
  font-family: 'Handlee', cursive;
  justify-content: center;
  border-style: none;
  border-radius: 5px;
  margin: 2%;
}

#passwordIn::placeholder {
  color: darkgrey;
  text-align: center;
  padding-top: 30px;
}

#buttonLoginUser {
  width: 216px;
  height: 39px;
  font-family: 'Handlee', cursive;
  background: rgba(214, 190, 180, 0.92);
}

#buttonToGoogleIn {
  width: 216px;
  height: 39px;
  font-family: 'Handlee', cursive;
  background: rgba(214, 190, 180, 0.92);
}

#separationTextIn {
  padding: 5%;
  width: 25vh;
  font-family: 'Handlee', cursive;
  font-size: 15px;
  justify-content: center;
  margin-left: 80px;
}

#sendToSignUpText {
  grid-area: sendToSignUpTex;
  font-family: 'Handlee', cursive;
  text-align: center;
}

#footerIn {
  grid-area: footer;
  font-family: 'Handlee', cursive;
  text-align: center;
}

/* mainMenu*/
#containerMainMenu {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 31% 12% 20%;
  grid-auto-rows: minmax(85px, auto);
  grid-template-areas:
    'main headerMain'
    'main headerMain'
    'main headerMain'
    'main headerMain'
    'footer footer';
}
#containerMainMenu > main {
grid-area: main;
}
#headerMainMenu {
  grid-area: headerMain;
  background: transparent;
  transform: rotate(-90deg);
  height: 36vh;
  width: 49vh;
  margin-top: 20vh;
  font-family: 'Handlee', cursive;
  font-size: 27px;
}

#boxKnittingSticks {
  grid-area: main;
  background-color: rgba(245, 126, 215, 0.755);
  justify-content: center;
  width: 30vh;
  height: 30vh;
  border-radius: 6px;
  margin-top: 10vh;
  margin-left: 10vh;
}

#boxSticksImg {
  grid-area: main;
  background: url('./lib/assets/sticks.png') no-repeat center;
  width: 26vh;
  height: 26vh;
  border-radius: 5%;
  margin-top: 2vh;
  margin-left: 2vh;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 25px;
}

#boxSticksText {
  grid-area: main;
  width: 27%;
  height: 4%;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  opacity: 0.5;
  margin-top: -24vh;
  margin-left: 6vh;
  justify-items: center;
  padding-left: 5vh;
}

#boxCrochet {
  grid-area: main;
  background-color: teal;
  justify-content: center;
  width: 30vh;
  height: 30vh;
  border-radius: 6px;
  margin-top: 5vh;
  margin-left: 10vh;
}

#boxCrochetImg {
  grid-area: main;
  background: url('./lib/assets/crochet.png') no-repeat center;
  width: 26vh;
  height: 26vh;
  border-radius: 5%;
  margin-top: 2vh;
  margin-left: 2vh;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 25px;
}

#boxSticksText {
  grid-area: main;
  width: 27%;
  height: 4%;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  opacity: 0.5;
  margin-top: -24vh;
  margin-left: 6vh;
  justify-items: center;
  padding-left: 5vh;
}

#boxCrochetText {
  grid-area: main;
  width: 30%;
  height: 4%;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  opacity: 0.5;
  margin-top: -24vh;
  margin-left: 6vh;
  justify-items: center;
  padding-left: 4vh;
}

#footerMainMenu {
  grid-area: footer;
  clear: both;
  justify-self: center;
}


/*Responsive iPhone X*/

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
  body{
    background-color:turquoise;
  }

  /*SignUp*/
  #containerUp {
    display: grid;
    background-color: rgba(255, 252, 252, 0.48);
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                         'a '
                         'b '
                         'c '
                         'd '
                         'e '
                         'footer ';
    width: 90%;
    row-gap:11px;
    justify-items: center;
    height: 75vh;
    margin-top: 10vh;
    margin-left: 5%;
  }
#containerUp > header{
  justify-content: center;
}

#containerUp > main{
  grid-area: a;
  align-self: center;
  margin-left: 59px;
}
#termsText {
  width: 28vh;
  font-family: 'Handlee', cursive;
  font-size: 15px;
  text-align: center;
  margin-top: 0%;
  margin-left: -3%;
}

  #divImgUp{
    display: none;
  }
}

/*SignIn*/
#containerIn {
  display: grid;
  background-color: rgba(255, 252, 252, 0.48);
  grid-gap: 3%;
  height: 75vh;
  width: 90%;
  row-gap:11px;
  margin-left: 5%;
  justify-content: center;
  margin-top: 10vh;
  grid-template-areas:
      'header'
      'main'
      'footer'
      'footer'
      'footer';
}

#containerIn > main{
  align-self: center;
  margin-left: 59px;
  margin-top: -2%;
}
#sendToSignUpText{
  width: 28vh;
  text-align: center;
  margin-top: 0%;
  margin-left: -3%;
}

#footerIn {
  grid-area: footer;
  font-family: 'Handlee', cursive;
  text-align: center;
  margin-top: 67%;
}

/*MainMenu*/

#headerMainMenu {
  font-size: 30px;
}

#footerMainMenu{
  margin-top: 32%;
}

#boxKnittingSticks{
  margin-left:7vh ;
  margin-top: 16vh;
}

#boxCrochet{
  margin-left:7vh;
}
/*Pantallas grandes (desktops de menos de 1200px)*/
@media (max-width: 1199.98px) { 

 }

/*Pantallas medianas (tablets de menos de 992px)*/
@media (max-width: 991.98px) { 
  
 }



@media (min-width:400px) {

 .containerIntro{
   grid-template-areas:'gif gif            .             .' 
                       'gif gif      divTextIntro divTextIntro'
                       'gif gif      divButtonIntro divButtonIntro'
                       'gif gif             .                 .'
                       'footer  footer    footer           footer';

                       
 }

 #divGif {
  background: url('https://i.picasion.com/pic91/a84f3fcf776556e023735827dfd8fd51.gif') no-repeat center;
  background-size: cover;
  height: 500px;
  width: 500px;
  display: flex;
  gap: 10px;
  grid-area:gif;
}

#divTextIntro {
  font-size: 28px;
}

#footerIntro{
  font-size:18px
}


}