* {
  margin: 0%;
  padding: 0%;
  margin: 0%;
}

body {
  background: url('./lib/assets/background1.png');
  min-height: 100vh;
  margin: 0%;
  padding: 0%;
}

/* intro */
#divGif {
  background: url('https://i.picasion.com/pic91/a84f3fcf776556e023735827dfd8fd51.gif') no-repeat center;
  background-size: cover;
  height: 65vh;
  width: 58vh;
  margin: 0% auto;
}

#divTextIntro {
  display: flex;
  font-family: 'Handlee', cursive, bold;
  font-size: 18px;
  height: 35%;
  width: 86%;
  background-color: transparent;
  margin-top: 3vh;
  margin-right: 5%;
}

#divButtonIntro {
  display: flex;
  position: relative;
  width: 50%;
  background-color: transparent;
  margin-top: 7%;
  margin-right: 10%;
  float: right;
}

#buttonIntro {
  background-color: rgba(214, 190, 180, 0.83);
  height: 5vh;
  width: 20vh;
  border-radius: 4px;
  font-family: 'Handlee', cursive;
  margin-left: -10%;
  margin-top: -5%;
  box-shadow: 0 2px 15px rgba(80, 77, 78, 0.5);
  border-style: double;
}

#footerIntro {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 15vh;
}

/*signUp*/
#containerUp {
  display: grid;
  background-color: rgba(255, 252, 252, 0.48);
  grid-template-rows: repeat(7, 16%);
  grid-template-columns: 71%;
  grid-gap: 5%;
  justify-content: center;
  width: 90%;
  height: 75vh;
  margin-top: 10vh;
  margin-left: 5%;
}

#titleUp {
  font-family: 'Handlee', cursive;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
}

#emailUp {
  width: 214px;
  height: 38px;
  background: white;
  font-family: 'Handlee', cursive;
  justify-content: center;
  border-style: none;
  border-radius: 5px;
  margin: 2%;
}

#emailUp::placeholder {
  color: darkgrey;
  text-align: center;
  padding-top: 30px;
}
